# Lists
Lists are the most basic form of data structure in Python, it is:
- Mutable. Elements can be changed at any time
- Ordered. Every elements has a position in the list
- Variable length. It can store as many elements as you need
- Multi-element. Elements of different type can be stored in the same list.

Documentation:
https://docs.python.org/3/tutorial/datastructures.html

## List definition and general access

Square brackets [] indicate a list. They can store any type of element, including various types on the same list

In [4]:
listA = [1,2,3]
listB = ['a','b','c']
listC = ["cat", "dog", "parrot"]
listD = [1, 'b',"cat"]

To access a elements we use its position. Positions start from 0 and end in (length - 1). We use the notation list[position]

In [6]:
print(listA[0])
print(listB[1])
print(listC[2])

1
b
parrot

You can also access elements if you use negative positions, in which case -1 will represent the last element of the list, -2 the second last and so on.

In [9]:
print(listA[-1])
print(listA[-2])
print(listA[-3])

3
2
1

### len(list)
The len() function returns the list's length

In [20]:
listA = [1]
listB = [1,2]
listC = [1,2,3]
listD = [1,2,3,4]
listOfLists = [listA, listB, listC, listD]
for list in listOfLists:
    print(len(list))

1
2
3
4

## Adding an element

### list.append(x)
The append() method adds an element into the last position of the list

In [3]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

### list.insert(i,x)
The insert() method inserts an elements at the given position, if there is already an element it just pushes it forward.

In [2]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(1, 'ducati')
print(motorcycles)

['honda', 'ducati', 'yamaha', 'suzuki']

## Deleting an element

### del list[i]
If you know the element's position you can delete by using the del statement

In [10]:
motorcycles = ["m1", "m2", "m3"]
del motorcycles[1]
print(motorcycles)

['m1', 'm3']

### list.pop()
The pop() method deletes the last element of a list. It also returns its value.

In [12]:
motorcycles = ["m1", "m2", "m3"]
popped = motorcycles.pop()
print(motorcycles)
print(popped)

['m1', 'm2']
m3

### list.remove(x)
The remove() method removes the first element that is equal to the one in the argument

In [13]:
motorcycles = ["m1", "m2", "m3"]
motorcycles.remove("m2")
print(motorcycles)

['m1', 'm3']

## Organizing a list

### list.sort()
Orders the list in alphabetical order, directly modifies the list so it doesn't return anything

In [14]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
names.sort()
print(names)

['Alex', 'Bea', 'Carol', 'Dean', 'Eduardo']

You can order it in reverse alphabet by adding the argument reverse = True

In [15]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
names.sort(reverse = True)
print(names)

['Eduardo', 'Dean', 'Carol', 'Bea', 'Alex']

### sorted(list)
The sorted() function return the sorted list, so it doesn't affect the original list

In [16]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
print(sorted(names))
print(names)

['Alex', 'Bea', 'Carol', 'Dean', 'Eduardo']
['Carol', 'Dean', 'Bea', 'Alex', 'Eduardo']

You can do it in reverse as well

In [18]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
print(sorted(names, reverse = True))
print(names)

['Eduardo', 'Dean', 'Carol', 'Bea', 'Alex']
['Carol', 'Dean', 'Bea', 'Alex', 'Eduardo']

## Looping through a list

There are two ways to loop through a list, using for estatement or using while

### While statement
If you use while you will acess the list by its positions, therefore you will need a numeric counter.

In [2]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
i = 0
while(i < len(names)):
    print(names[i])
    i = i + 1

Carol
Dean
Bea
Alex
Eduardo

### For statement
If you use for you will access the list by its elements, you won't need any counter. The notation is: "for element in list:"

In [3]:
names = ["Carol", "Dean", "Bea", "Alex", "Eduardo"]
for name in names:
    print(name)

Carol
Dean
Bea
Alex
Eduardo

## Finding and counting on a list

### list.index(el)
The index() method returns the position of the first ocurrence of the element inserted as parameter.

In [1]:
list = [1,2,3,4,5,6,7]
print(list.index(3))

2

### list.count(el)
The count() method returns the number of ocurrences of an specific element

In [2]:
list = [1,2,3,4,5,6,1,8]
print(list.count(1))

2

## Slicing a list

To slice a list you need to indicate two indexes, the index of the first element that will be included and the index of the element before which it has to stop.

In [10]:
numbers = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numbers[3:7])

[3, 4, 5, 6]

No starting position means it starts from the beggining

In [11]:
print(numbers[:7])

[0, 1, 2, 3, 4, 5, 6]

No finishing position means will return the elements until it finishes the list

In [15]:
print(numbers[8:])

[8, 9, 10, 11, 12, 13, 14, 15]

Negative position means it starting counting from the end

In [18]:
print(numbers[-5:-2])

[11, 12, 13]

### Looping through a slice

You can also use the for notation in a slice without having to store it in a variable

In [19]:
for number in numbers[7:-2]:
    print(number)

7
8
9
10
11
12
13

### Copying a list

If change any element of a slice, the original list won't be affected. Hence you can copy a list and work with it separately by omitting the first and last index.

In [20]:
copy = numbers[:]
copy[7] = 77777
print(numbers)
print(copy)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 77777, 8, 9, 10, 11, 12, 13, 14, 15]

## List of numbers: range()

The range funtion generates numbers according to 3 parameters:
- initialNumber
- finalNumber
- addition
The generated number number will begin on initialNumber and will stop before finalNumber

In [22]:
for number in range(0,20,2):
    print(number)

0
2
4
6
8
10
12
14
16
18

You also find the minimum, maximum and sumatory of the elements if they are numbers.

In [23]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

## Transform into a list

Iterables such as the result of the range() function is not technically a list, but can be turned into one

In [6]:
print(type(range(0,30)))

<class 'range'>

In [5]:
lista = list(range(0,30))
print(type(lista))

<class 'list'>

## Tuples

Tuples are a list of element that can't be modified. You can access every element of the tuple by its index and use loops on it.

In [7]:
position = (34,566,23)
print(position[2])

23

In [8]:
for coord in position:
    print(coord)

34
566
23

You can rewrite the tuple by redifing its values on the variable that hold its value

In [9]:
position = (355,557,231)
print(position)

(355, 557, 231)

## List comprehension

List comprehension offers a short syntax when you want to create a new list based on an existing one. The syntax is as follows:

**newlist = [expression for item in iterable if condition == True]**

![1_8-j8zcm77WONz3uziGYOVw.webp](attachment:1_8-j8zcm77WONz3uziGYOVw.webp)

* Expression refers to the value that will be appended to the new list
* Iterable refers to a list, tuple, range, ...
* Condition that must be met so the expression can be added to the list